{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/fb6de620-1cb9-46bb-bec8-0f5131a11070/versions/0.1/hierarchicalentities?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "090bdb530b984b7ca4c8fc2017eb2b1f"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"ec28ee25-9fe1-4aa8-a6a2-a519b0cf249d\",\r\n    \"name\": \"MyHierarchical\",\r\n    \"typeId\": 3,\r\n    \"readableType\": \"Hierarchical Entity Extractor\",\r\n    \"children\": [\r\n      {\r\n        \"id\": \"287dc375-7b12-45b5-8958-06afb09a0f73\",\r\n        \"name\": \"MyHierarchicalChild\"\r\n      }\r\n    ]\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/fb6de620-1cb9-46bb-bec8-0f5131a11070/versions/0.1/hierarchicalentities/ec28ee25-9fe1-4aa8-a6a2-a519b0cf249d/children/287dc375-7b12-45b5-8958-06afb09a0f73",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"id\": \"287dc375-7b12-45b5-8958-06afb09a0f73\",\r\n  \"name\": \"RenamedChildEntity\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "090bdb530b984b7ca4c8fc2017eb2b1f"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}