{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/patterns/601781",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": 601781,\r\n  \"name\": \"EmailPattern\",\r\n  \"pattern\": \"\\\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\\\.[A-Z]{2,}\\\\b\",\r\n  \"isActive\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}