{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/closedlists",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"SubLists\": [\r\n    {\r\n      \"CanonicalForm\": \"New York\",\r\n      \"List\": [\r\n        \"NY\",\r\n        \"New York\"\r\n      ]\r\n    },\r\n    {\r\n      \"CanonicalForm\": \"Washington\",\r\n      \"List\": [\r\n        \"WA\",\r\n        \"Washington\"\r\n      ]\r\n    },\r\n    {\r\n      \"CanonicalForm\": \"California\",\r\n      \"List\": [\r\n        \"CA\",\r\n        \"California\",\r\n        \"Calif.\",\r\n        \"Cal.\"\r\n      ]\r\n    }\r\n  ],\r\n  \"Name\": \"States\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"78b20ab4-2446-4aeb-b5f1-6a01f6d8f817\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api.luis.ai/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/closedlists/78b20ab4-2446-4aeb-b5f1-6a01f6d8f817"
        ],
        "Operation-Location": [
          "https://api.luis.ai/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/closedlists/78b20ab4-2446-4aeb-b5f1-6a01f6d8f817"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/closedlists?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"78b20ab4-2446-4aeb-b5f1-6a01f6d8f817\",\r\n    \"name\": \"States\",\r\n    \"typeId\": 5,\r\n    \"readableType\": \"Closed List Entity Extractor\",\r\n    \"subLists\": [\r\n      {\r\n        \"id\": 6124626,\r\n        \"canonicalForm\": \"New York\",\r\n        \"list\": [\r\n          \"ny\",\r\n          \"new york\"\r\n        ]\r\n      },\r\n      {\r\n        \"id\": 6124627,\r\n        \"canonicalForm\": \"Washington\",\r\n        \"list\": [\r\n          \"wa\",\r\n          \"washington\"\r\n        ]\r\n      },\r\n      {\r\n        \"id\": 6124628,\r\n        \"canonicalForm\": \"California\",\r\n        \"list\": [\r\n          \"ca\",\r\n          \"california\",\r\n          \"calif.\",\r\n          \"cal.\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}