{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/querylogs",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"Query\",\"UTC DateTime\",\"Response\"\r\n\"bot framework guidance end of day status 2017-10-25\",10/30/2017 13:39:55,\"{\"\"query\"\":\"\" Bot Framework Guidance  End of Day Status 2017-10-25\"\",\"\"intents\"\":[{\"\"intent\"\":\"\"EOD\"\",\"\"score\"\":0.239705488},{\"\"intent\"\":\"\"SOD\"\",\"\"score\"\":0.116738953},{\"\"intent\"\":\"\"EOI\"\",\"\"score\"\":0.181367725},{\"\"intent\"\":\"\"SOI\"\",\"\"score\"\":0.134593427},{\"\"intent\"\":\"\"None\"\",\"\"score\"\":0.0309543312}],\"\"e[...]
